/* Default styles for desktop */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #3F1063;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.header_logo {
  display: flex;
  align-items: center;
  height: 100px;
}

.nav-links {
  display: flex;
  gap: 55px;
  position: absolute;
  left: 185px;
}

.nav-links div {
  color: white;
  font-family: 'MO', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links div:hover {
  color: #DFE6D0;
}

.buttons-container {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.button.contact, .button.donate-desktop {
  padding: 15px 30px;
  border-radius: 30px;
  font-family: 'MO', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.button.contact {
  background-color: #DFE6D0;
  color: #3A3935;
}

.button.contact:hover {
  color: black;
}

.button.donate-desktop {
  background-color: #EE7331;
}

.button.donate-desktop:hover {
  background-color: #d9611f;
}

.arrow-icon {
  width: 11px;
  margin-left: 9px;
  transition: filter 0.3s ease, transform 0.3s ease;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .header-container {
    height: 60px;
    padding: 0 15px;
  }

  .nav-links, .buttons-container {
    display: none;
  }

  .mobile-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header_logo img {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .donate-mobile {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #EE7331;
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
  }

  .menu-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
  }

  .donate-mobile:hover {
    background-color: #d9611f;
  }
}
