.nav {
  z-index: 2;
  cursor: auto;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu_toggle {
  width: 30px;
  display: flex;
  align-items: center;
}

.menu-icon {
  position: fixed;
}

.burger-icon g,
.close-icon g {
  stroke: #fff;
}

.menu_toggle:hover .burger-icon g,
.menu_toggle:hover .close-icon g {
  stroke: #fff;
}

.nav_overlay {
  position: fixed;
  border-radius: 33px;
  background: #0a0a3e;
  top: 105px;
  height: 656px;
  z-index: 9999;
  overflow: hidden;
  padding: 25px;
  transition: transform 3s cubic-bezier(1, 0, 0, 6), all 1s;
  transition-timing-function: cubic-bezier(0.16, 1.08, 0.38, 0.98);
  display: flex;
  justify-content: space-between;
}

.nav_links {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin: 38px 48px 0 48px;
  flex: 2;
}

.nav_item {
  list-style: none;
  position: relative;
}

.nav_item .heading {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--He-Rg);
}

.nav_item .content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.nav_item .text {
  cursor: pointer;
  padding-right: 15px;
  font-family: var(--Gg-Md);
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4px;
  padding-top: 10px;
  width: fit-content;
  overflow: hidden;
  text-transform: uppercase;
  background: linear-gradient(to right, #0a0a3e, #0a0a3e 50%, #0a0a3e 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.5s ease;
}

.nav_item .text:hover {
  background-position: 0 100%;
}

.nav_item .text::after {
  content: "";
  background-color: #fff;
  height: 1px;
  transform: scaleX(0);
  margin-top: -8px;
  position: relative;
  transition: transform 0.5s ease-out;
  width: 100%;
}

.nav_item .text:hover::after {
  transform: scaleX(1);
}

/* Media queries simplified */

@media only screen and (max-width: 1600px) {
  .nav_overlay {
    border-radius: 27px;
    top: 90px;
    height: 506px;
    padding: 20px;
  }

  .nav_links {
    margin: 21px 38px 0 32px;
  }

  .nav_item .heading {
    font-size: 15px;
    line-height: 16px;
  }

  .nav_item .text {
    font-size: 13px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 1024px) {
  .menu-icon {
    width: 45.5px;
    height: 15.6px;
  }

  .nav_overlay {
    border-radius: 17px;
    top: 70px;
    height: 456px;
    padding: 15px;
  }

  .nav_links {
    margin: 24px 28px 0 24px;
    flex: none;
  }

  .right {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .menu-icon {
    width: 45.5px;
    height: 15.6px;
  }

  .nav_overlay {
    border-radius: 0;
    top: 60px;
    padding: 20px;
    overflow-y: auto;
    border-top: 1px solid #fff;
  }

  .nav_links {
    flex-direction: column;
    margin: 18px;
  }

  .right {
    display: none;
  }

  .nav_overlay::-webkit-scrollbar {
    display: none;
  }
  .nav_overlay {
    scrollbar-width: none;
  }
}
